version: "3.9"

services:
  backend:
    build:
      context: .
      dockerfile: Dockerfile.backend
    volumes:
      - ./songs:/app/songs
      - ./musica.db:/app/musica.db
    ports:
      - "8000:8000"
    environment:
      - MUSICA_HOST=0.0.0.0
      - MUSICA_PORT=8000

  frontend:
    build:
      context: .
      dockerfile: Dockerfile.frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
